# Default ignored files
/shelf/
/workspace.yml
# Datasource local storage ignored files
/../../../../~/Web/FastAPI-Node-Docker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/